h1 Test POST

form(action="users/create", method="post")
    label(for="") Name: 
    input#input-users(type="text", name="name")
    label(for="") Phone: 
    input#input-users(type="text", name="phone")
    button(type="submit") Create